.expandable {
    width: 100%;
    min-height: 20vh;
    margin-bottom: 2rem;
    position: relative;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--darkGrey);
    padding: 2rem;
    cursor: pointer;
}

.expandable h5{
    width: 100%;
    margin-bottom: 1rem;
}

.expandable p {
    font-size: var(--baseFont);
}

.expand{
    margin-top: 2rem;
    max-height: 0;
    overflow: hidden;
}

.expand ul {
    margin: 0 3rem;
}

.expand li{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 2rem;
    background-color: var(--white);
    border-left: .5rem solid var(--accentColor);
}

/* .expand li::before{
    content: '';
    position: absolute;
    left: 0;
    top: .5rem;
    height: 75%;
    width: .25rem;
    border-radius: 2rem;
    background-color: var(--white);
} */
.expand h5{
    display: inline-block;
    color: var(--black);
}