.input-field{
    width: 100%;
    height: 100%;
    font-size: var(--baseFontPlus);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-field__name{
    padding: 1rem 0;
    font-weight: bold;
}

.input-field__input{
    width: 100%;
    height: 5vh;
    max-height: 150px;
    color: var(--black);
}

.field__error{
    color: var(--red);
}