.info-item{
    width: 100%;
    padding: 1rem 0;
    font-size: var(--baseFontPlus);
    display: flex;
    flex-direction: column;
}

.info-item__name{
    font-weight: bold;
    margin-bottom: 1rem;
}

.info-item__info{
    width: 100%;
}