.info-item{
    width: 100%;
    padding: 1rem 0;
    font-size: var(--baseFontPlus);
}
.info-item__name{
    padding: 1rem 0;
    font-weight: bold;
    margin-right: 2rem;
}

.info-item__info{
    width: 100%;
    padding: 1rem;
}