.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .pagination__current-section {
    height: 30px;
    width: 0;
    background: var(--accentColor);
    z-index: -1;
    position: absolute;
    left: 0;
} */

.pagination__section {
    text-decoration: none;
    color: var(--white);
    border-bottom: 2px solid #ffffff00;
    font-weight: bold;
    width: fit-content;
    padding-bottom: 6px;
    margin: 0 2.5%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    position: relative;
}

.pagination__section:hover {
    opacity: 0.7;
}

.pagination__section--highlighted {
    background: var(--accentColor);
    color: var(--white);
}