.pagination{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination__container{
    width: 50%;
    display: flex;
    align-items: center;
}
.pages{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;
    justify-items: center;
}

.pages span{
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.pagination-right, .pagination-left{
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}