.slide {
    height: 100%;
    width: 33.3%;
    opacity: 0.2;
    position: absolute;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide:hover {
    opacity: 1;
}

.slide img {
    height: 100%;
    background-color: teal;
}