.course {
    min-height: 100vh;
    width: 100%;
    position: relative;
    
}

.course__header {
    height: 92.5vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 7.5%;
    z-index: 1;
    color: white;
}

.course__bg-overlay {
    width: 100%;
    height: 92.5vh;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--black);
    opacity: 0.8;
    z-index: -1;
}

.course__teacher {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.course__teacher p {
    font-size: 1.5rem;
    font-weight: bold;
}
.course__desc {
    margin-bottom: 2rem;
    font-size: var(--baseFontPlus);
}

.course__cta {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.course__cta a, .course__inv-cta a{
    text-decoration: none;
}

.course__cta a:hover{
    opacity: 1;
}

.course__details {
    padding-top: 5vh;
}

.course__info {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.section-title {
    font-family: var(--specialFontFam);
    margin-bottom: 2rem;
}

.course__chapters {
    min-height: 25vh;
    margin: 2rem 0;
}

.chapters__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
}

.course__ratings {
    min-height: 25vh;
}

.course__ratings-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    /* background: var(--accentColor); */
    /* padding: 2rem; */
}

.rating-title{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.course__rating{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--darkGrey);
    padding: 2rem 2rem;
}
.rating__comment{
    width: 100%;
    margin-bottom: 2rem;
}
.course__rating button{
    margin-top: 2rem;
}

.course__inv {
    min-height: 25vh;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course__inv-title {
    text-align: center;
}

.course__inv-title h4 {
    margin-bottom: .5rem;
}

.course__inv-title p {
    font-size: var(--baseFontPlus);
    font-weight: bold;
    margin-bottom: 1.5rem;
}
